<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test">
    <test verbose="2" preserve-order="true" name="C:/Users/yolo/IdeaProjects/ModelProject/testcore">
        <classes>
            <class name="Test1">
            </class>
        </classes>
    </test>
</suite>